main {
  width: 100%;
  height: 100vh;
  background: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  max-width: 380px;
  background: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  text-align: center;
}

/* título */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}
input{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #0b86f1;
    color: #0070d1;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 15px;
    }